/venv/
*.pyc
/.idea/dataSources/9a5673f4-b084-4c67-9a01-ebb645450f97.xml
/.idea/.gitignore
/.idea/dataSources/9a5673f4-b084-4c67-9a01-ebb645450f97/storage_v2/_src_/schema/app.IXoBAA.meta
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/9a5673f4-b084-4c67-9a01-ebb645450f97/storage_v2/_src_/schema/future.w421tA.meta
/zillion/stock/data/etl/ak/hist_a.csv
/.idea/misc.xml
/.idea/modules.xml
/nlp/package.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
/.idea/dataSources/9a5673f4-b084-4c67-9a01-ebb645450f97/storage_v2/_src_/schema/stock.FveKBg.meta
/.idea/tesseract.iml
/.idea/dataSources/9a5673f4-b084-4c67-9a01-ebb645450f97/storage_v2/_src_/schema/test.kkQ2AA.meta
/.idea/vcs.xml
